<div class="booyah-box col-10 offset-1">
<h1> Add a Game</h1>
<%= simple_form_for @game do |f| %>
  <%= f.input :name %>
  <%= f.input :rating, as: :select, collection: Game::RATINGS %>
  <%= f.input :review %>
  <br / >
  <%= f.submit 'Update', class: 'btn btn-primary' %>
<% end %>
</div>