<br />
<h1 class="first text-center">Comment on your Favorite Games!</h1>
<br />

<% @games.each do |game| %>
<div class="booyah-box col-10 offset-1">
  
  <h1><%= link_to game.name, game_path(game) %> </h1>
  <p><%= game.humanized_rating %> </p>
  <p><%= game.review %></p>
  <% if game.user.present? %>
    <small><%= game.user.email %></small>
  <% end %>

  <% if game.comments.present? %>
  <div class="col-12 col-sm-6">
    <blockquote>
      <% if game.comments.last.humanized_rating.present? %>
      <b><%= game.comments.last.humanized_rating %></b> -
      <% end %>
      <%= game.comments.last.message %>
      <small><%= game.comments.last.user.email %></small>
    </blockquote>
  </div>
  <% end %>
</div>
<% end %>