<h1> Hello</h1>

<div class="booyah-box col-10 offset-1">
<%= simple_form_for @game do |f| %>
  <%= f.input :name %>
  <%= f.input :rating %>
  <%= f.input :review %>
  <br / >
  <%= f.submit 'Create', class: 'btn btn-primary' %>
<% end %>
</div>